.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    width: 90%;
}
.HeadBanner {
    position: relative;
    width: 100%;
}

.HeadBanner img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 460px;
    object-fit: cover;
}

.wrapSmallImg {
    position: absolute;
    width: 90%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    bottom: 0;
    pointer-events: none;
}
.boxImgSmall{
    padding: 20px;
    width: 30%;
    position: absolute;
    right: 0;
    bottom: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background: white;
}
.section__1{
    display: flex;
    justify-content: space-between;
}
.overviews{
    width: 60%;
}
.boxPricing{
    width: 30%;
    padding: 0 20px;
}
.group-overviewBtn{
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.overviewBtn{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-decoration: none;
}
.overviewBtn.active{
    color: white;
    background: rgba(73, 187, 189, 1);
}
.boxOverview{
    padding:40px;
    background: rgba(157, 204, 255, 0.3);
    border-radius: 20px;
}
.box-rating{
    padding: 15px 30px;
    background: white;
    border-radius: 20px;

}
.box-rating .numStar{
    font-size: 30px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
}
.topRate{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.box-rating{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-rating img{
    margin: 20px 0;
    width: 130px;

}
.progress{
    display: flex;
    align-items: center;
}
.progress span{
    margin-right: 20px;
    font-size: 17px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.progressBar{
    min-width: 332px;
    height: 8px;
    border-radius: 2px;
    background: rgba(217, 217, 217, 1);

}
.progressBar .persent{
    width: 80%;
    height: 100%;
    background: rgba(73, 187, 189, 1);
}
.group-rating{
    display: flex;
    justify-content: space-between;
}
.groupProgress{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}
.wrapAva{
    margin-right: 5px;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background: #D9D9D9;
    overflow: hidden;
}
.boxAva{
    display: flex;
    align-items: center;
}
.boxStar-month .star{
    width: 130px;

}
.boxStar-month {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.groupMonth{
    display: flex;
    align-items: center;
}
.groupMonth .timer{
    width: 24px;
    margin-right: 10px;
}
.groupInfoCm{
    flex: 1;
}
.nameCm{
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}
.month{
    font-size: 14px;
    font-weight: 500;
    color: rgba(105, 105, 132, 1);
}
.group-comment{
    margin-top: 50px;
}
.commentIf{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(105, 105, 132, 1);
}
.comment{
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(105, 105, 132, 1);
}
.comment.sdItem{
    margin-top: 30px;
    border: none;
}
.comment.sdItem .boxStar-month{
    justify-content: end;
}
.dola{
    font-size: 31px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}
.dola-minus{
    font-size: 22px;
    font-weight: 600;
    text-decoration:line-through;
    text-decoration-color:rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    
}
.sale{
    font-size: 22px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    
}
.groupPrice{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.timeLeft{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: rgba(73, 187, 189, 1);
    margin: 20px 0;
}
.BuyBtn{
    display: inline-block;
    width: 100%;
    border-radius: 12px;
    padding: 15px 0;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: white;
    background: rgba(73, 187, 189, 1);
}
.horizontalRaw{
    margin: 30px 0;
    background: rgba(105, 105, 132, 1);
}
.courseTitle{
    font-size: 23px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}
.listFeature{
    margin-top: 30px;
    list-style: none;
}
.listFeature li{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.listFeature li img{
    width: 20px;
}
.listFeature li span{
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}
.captionCourse{
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    color: rgba(105, 105, 132, 1);
}
.groupIconSocial{
    margin-top: 20px;
    display: flex;
}
.groupIconSocial img{
    width: 32px;
    height: 32px;
    margin-right: 15px;
}
.section__2{
    margin-top: 50px;
    width: 100%;
    background: rgb(235, 245, 255);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.wrapCtS2{
    width: 90%;
}
.navigatePage{
    text-decoration: none;
    color: inherit;
}
/*  */
.cardItemS4{
    border-radius: 20px;
}
.imgHeaderS4{
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.groupInfoS4{
    color: #696984;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;

}
.category {
    display: flex;
    align-items: center;
}
.duration {
    display: flex;
    align-items: center;
}
.category img {
    width: 21px;
    margin-right: 5px;
}
.duration img {
    margin-right: 5px;
    width: 24px;
}
.titleCardS3 {
    margin-top: 20px;
    color: #252641;
    font-size: 24px;
    font-weight: 500;
}
.captionS3 {
    font-size: 14px;
    font-weight: 400;
    color: #696984;
    margin: 10px 0;
}
.wrapPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.price span:first-child {
    text-decoration: line-through;
    font-style: italic;
    color: #696984;
    font-size: 18px;
    font-weight: 300;
    margin-right: 10px;
}
.price span:last-child {
    font-size: 24px;
    font-weight: 700;
    color: #49BBBD;
}
.headerS3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.headerS3 a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #49BBBD;
}
.titleS3{
    font-size: 30px;
    font-weight: 500;
}
.wrapItemS4{
    display: flex;
    justify-content: space-between;
}
.cardItemS4-course {
    background: white;
    width: 23%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px #2F327D1A;
}
.wrapLogoSlide{
    margin: 10px 0;
    display: flex;
    align-items: center;
  }

/*  */
.groupTextS4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 0;
    gap: 40px;
  }
  .text-content {
    width: 45%;
    flex: 1;
    position: relative;
  }
  
  .text-content h2 {
    font-size: 32px;
    color: #2c2c51;
  }
  
  .text-content h2 span {
    color: #00c9a7; /* màu xanh tương tự trong ảnh */
  }
  
  .text-content p {
    margin: 10px 0;
    color: #666;
    font-size: 22px;
    font-weight: 400;
  }
  
  .text-content a {
    color: #696984;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    font-weight: bold;
  }
  
  .image-wrapper {
    width: 45%;
    position: relative;
    flex: 1;
    z-index: 0;
  }
  
  .image-wrapper img {
    width: 100%;
    border-radius: 16px;
    display: block;
  }
  
  /* Nút play */
  .play-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    background-color: white;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .play-buttons i{
    color: #23BDEE;
  }
  /* Các shape decor */
  .border-shape {
    position: absolute;
 
    z-index: -1;

    border-radius: 10px;
  }
  
  .top-left {
    width: 138px;
    height: 138px;
    top: -15px;
    left: -15px;
    border-right: none;
    border-bottom: none;
    background: #23BDEE;
  }
  
  .bottom-right {
    
    background-color: #00c9a7;
    width: 231px;
    height: 231px;
    bottom: -15px;
    right: -15px;
    border-top: none;
    border-left: none;
  }
  .greenBox-1{
    position: absolute;
    top: -10px;
    left: -10px;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    background: rgba(51, 239, 160, 1);
    z-index: -1;
  }
  
  .greenBox-2{
    position: absolute;
    top: 60%;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(51, 239, 160, 1);
    z-index: -1;
  }
  .groupBox-s4{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
  }
  .groupBox-s4 .box{
    width: 32%;
    position: relative;
}
.groupBox-s4 .box img {
    border-radius: 20px; 
    object-fit: cover;
    width: 100%;
    min-height: 390px;
    height: auto;
    filter: brightness(80%);
  }
  
  .ctBox{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .ctBox .saleBox{
    padding: 20px 15px;
    font-size: 24px;
    font-weight: 700;
    color: white;
    background: rgba(255, 0, 0, 0.6);
    border-radius: 12px;
  }
  .ctBox .forBox{
    font-size: 32px;
    font-weight: 600;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .ctBox .captionBox{
    font-size: 24px;
    font-weight: 400;
    color: white;
  }
  .groupBox-s4 .box.with-bg::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); /* màu đen với độ mờ */
    z-index: 1;
    border-radius: 20px;
  }
  @media screen and (max-width:1024px) {
    .wrapSmallImg{
        display: none;
    }
    .section__1{
        flex-direction: column-reverse;
    }
    .groupPrice{
        justify-content: unset;
        gap: 10px;
    }
    .boxPricing{
        width: 100%;
        padding: 0;
    }
    .overviews{
        width: 100%;
    }
    .group-rating{
        gap: 20px;
        flex-direction: column;
    }
    .groupProgress{
align-items: unset;
    }
    .progress span{
        margin-right: auto;
    }
    .progressBar{
        width:80%;
    }
    .wrapItemS4{
        flex-direction: column;
        gap: 20px;
    }
    .cardItemS4-course{
        width: 100%;
    }
    .groupTextS4{
        flex-direction: column;
    }
    .text-content{
        width: 100%;
    }
    .image-wrapper{
        width: 100%;
    }
    .groupBox-s4{
        gap: 20px;
        flex-direction: column;
    }
    .groupBox-s4 .box{
        width: 100%;
    }
    .titleS3{
        font-size: 25px;
    }


    
  }
  @media screen and (max-width:767px) {
        .headerS3{
        flex-direction: column;
        align-items: start;
    }
    
  }
  @media screen and (max-width:731px){
    .overviewBtn{
        font-size: 14px;
    } 
    .group-overviewBtn{
        gap: 10px;
        flex-direction: column;
    }
    .progressBar{
        min-width: unset;
    }
    .progress span{
        font-size: 14px;
    }
    .boxOverview{
        padding: 15px;
        border-radius: 10px;
    }
    .box-rating{
        border-radius: 10px;
    }
    .imgHeaderS4{
        border-radius: 10px;
    }
    .cardItemS4-course{
        border-radius: 10px;
    }
    .commentIf{
        font-size: 14px;
    }
    .boxStar-month .star{
        width: 100px;
    }
    .groupMonth .timer{
        width: 20px;
    }
    .ctBox .captionBox{
        font-size: 18px;
    }
    .ctBox .forBox{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .text-content p{
        font-size: 18px;
    }
    .text-content h2{
        font-size: 30px;
    }
    .groupBox-s4 .box img{
        min-height: unset;
    }
    .ctBox .saleBox{
        padding: 10px;
    }
  }
  @media screen and (max-width:400px){
    .ctBox .captionBox{
        font-size: 14px;
    }
    .ctBox .forBox{
        font-size: 23px;
        margin-bottom: 0;
    }
  }
  @media screen and (max-width:1304px){
    .progressBar{
        min-width: 200px;    
    }
  }
  @media (min-width:1024px) and (max-width:1140px){
    .dola-minus{
        font-size: 14px;
    }
    .sale{
        font-size: 14px;
    }

  }