.calendar-wrapper {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 20px;
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
  }
  
  .calendar-month {
    display: flex;
    flex-direction: column;
  }
  
  .month-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }
  .month-header span{
    font-size: 20px;
    font-weight: 600;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
  .calendar-grid div {
    font-size: 18px;
    font-weight: 600;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 6px;
    font-weight: 500;
    color: #1b1c3b;
  }
  
  .calendar-detail {
    padding-left: 1rem;
    border-left: 1px solid #ccc;
  }
  
  .day-header {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 600;
    color: rgba(37, 38, 65, 1);
  }
  
  .time-slots {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .slot {
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid #eee;
    padding-top: 5px;
  }
  
  .slot span {
    width: 50px;
    font-size: 0.9rem;
    color: #888;
  }
  
 
  .prev,.next{
    background: inherit;
    border: none;
  }
  .time-slot{
    display: flex;
    align-items: center;
  }
  .border-side{
    flex: 1;
    height: 0.3px;
    background: #a1a1b3;
    margin-left: 15px;
  }
  .wrapEvent{
    display: flex;
  }
  .wrapEvent .cusion{
    width: 37px;
  }
  .event {
  
    flex: 1;
    margin-left: 15px;
    background: rgba(238, 100, 91, 0.3);
    padding: 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(238, 100, 91, 1);
  }
  .event.null{
    min-height: 45px;
    background: white;
  }
  .timeLable{
    font-size: 14px;
    font-weight: 600;
    color: #696984;
  }

  @media (max-width: 768px) {
    .calendar-wrapper {
      grid-template-columns: 1fr;
      border-radius: 10px;
    }
  
    .calendar-detail {
      border-left: none;
      padding-left: 0;
    }
  }
  